<!DOCTYPE html>
<html>
<head>
    <title>Button Trigger</title>
</head>
<body>
    <h1>{{ welcome_message }}</h1>
    <button id="executeBtn">Execute Python Code</button>
    <script src="script.js"></script>
</body>
<script>
    document.getElementById('executeBtn').addEventListener('click', function() {
    fetch('/execute-python', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({message: 'Execute Python Code'})
    })
    .then(response => response.json())
    .then(data => console.log(data))
    .catch((error) => {
        console.error('Error:', error);
    });
});
</script>

</html>