{% extends "base.xhtml" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">{{ user_name }}，您好</h1>
                </div>
                <div class="card-body">

                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('logout') }}" class="btn btn-danger btn-block">登出</a>
                    {% else %}
                    <a href="{{ url_for('login') }}" class="btn btn-primary btn-block">登录</a>
                    {% endif %}

                    <div class="col">
                        <a href="{{ url_for('over_view') }}" class="btn btn-success btn-block">进入赛场</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}